@using BrickCity.Models.EFEntity
@model List<FileModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <a>Выберите JSON-файл с данными:</a>
        <br />
        <a>Имя файла:</a>
        <input type="text" name="filename"/>
        <br /> 
        <input type="file" name="upload"  accept=".json"/>
        <br /> 
        <input type="submit" value="Загрузить" />
    }


    <div>
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr>
                    <th>Имя файла</th>
                    <th>Дата загрузки</th>
                    <th>Минимальная дата</th>
                    <th>Максимальная дата</th>
                    <th>Кол-во потребителей</th>
                    <th>Кол-во записей о потреблении</th>
                </tr>
            </thead>
            
            <tbody>
                    @foreach(FileModel f in Model)
                    {
                    <tr>
                        <td>@f.Name</td>
                        <td>@f.Date</td>
                        <td>@f.MinRecordDate.ToShortDateString()</td>
                        <td>@f.MaxRecordDate.ToShortDateString()</td>
                        <td>@f.CountConsumers</td>
                        <td>@f.CountConsumptions</td>
                    </tr>
                    }
            </tbody>
        </table>
    </div>
</div>
